{% if include.translate_langs %}
  {% assign translate_langs = include.translate_langs %}
{% endif %}

{% if include.lang %}
  {% assign lang = include.lang %}
{% endif %}

<span class="ct-language">
  <ul class="list-unstyled ct-language-dropdown">
    {% for item in translate_langs %}
      <li>
        <a href="/{{item.lang}}" class="lang-select" data-lang="{{ item.lang }}">
          {% if item.img %}
          <img src="{{ item.img }}" title="{{ item.text }}">
          {% else %}
            {{ item.text }}
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</span>
