
#content {

    margin: 0 auto;
    background: #fff;
    height: 180px; /* for demo */
    -moz-box-shadow: 0 1px 5px #ccc;
    -webkit-box-shadow: 0 1px 5px #ccc;
    box-shadow: 0 1px 5px #ccc;
    color:#444;
    z-index: 0;
    padding: 0;
    margin-bottom:50px;
    border-radius:8px;

}

.payment{
    text-align: center;
}

@media screen and (min-width: 767px) {
	.fh5co-nav #fh5co-logo{
		font-size:28px;
	}
	.fh5co-heading h2{
		margin-bottom:20px;
	}
	.fh5co-heading p{
		font-size:18px;
	}
	.fh5co-heading{
		margin-bottom:4em;
	}
	h3{
		font-size:20px;
	}

	.web_page{
		display:block;
	}

	.mobile_page{
		display:none;
	}



	.closed {
	    z-index: 1;
	 	width:160px;
	  	overflow: hidden;  
	     margin: 0 auto;
	    height:40px;
	    margin-bottom: -5px;
	    
	}

	.closed .mid{
	    /*background: #fff;*/
	    width: 60px;
	    margin: 0 auto;
	    margin-top: -65px;
	    height: 40px;
	    background-color: #fff;
	    -moz-box-shadow: 0 1px 5px #ccc;
	    -webkit-box-shadow: 0 1px 5px #ccc;
	    box-shadow: 0 1px 5px #ccc;
	    -webkit-border-radius: 12px;
	}

	.left, .right {
	    display:none;
	}

	.closed .left{
	    display: block;
	    width: 0;
	    height: 100px;
	    border-left: 60px solid #fff;
	    border-right: 1px solid #ccc;
	    margin-left: 84px;
	    -webkit-transform: rotate(39deg);
	    margin-top: -34px;
	    box-shadow: 1px -1px 1px #ccc;
	}

	.closed .right{
	    display: block;
	    width: 0;
	    height: 100px;
	    border-right: 30px solid #fff;
	    border-left: 1px solid #ccc;
	    margin-left: 16px;
	    -webkit-transform: rotate(-39deg);
	    margin-top: -100px;
	    box-shadow: -1px -1px 1px #ccc;
	}

	.card{
	    padding:1.8em 1em;
	    text-align:center;
	    line-height: 1.9em;

	}
	.bride_msg{
	  font-family:'MapoFlowerIsland';
	  font-weight: 600;
	}

	.bride_parents{
	  font-family:'MapoFlowerIsland';
	  font-weight: 600;
	}

	.groom_msg{
	  font-family:'ROKABold';
	  font-weight: 600;
	}

	.groom_parents{
	  font-family:'ROKABold';
	  font-weight: 600;
	}

	.msg{
	  font-size:1.8em;
	  margin-top: .5em;
	  margin-bottom:15px;

	}

}


@media screen and (min-width: 1023px) {
	.web_page{
		display:block;
	}

	.mobile_page{
		display:none;
	}


	.closed {
	    z-index: 1;
	 	width:230px;
	  	overflow: hidden;  
	     margin: 0 auto;
	    height:80px;
	    margin-bottom: -5px;
	    
	}

	.closed .mid{
	    /*background: #fff;*/
	    width: 130px;
	    margin: 0 auto;
	    margin-top: -70px;
	    height: 80px;
	    background-color: #fff;
	    -moz-box-shadow: 0 1px 5px #ccc;
	    -webkit-box-shadow: 0 1px 5px #ccc;
	    box-shadow: 0 1px 5px #ccc;
	    -webkit-border-radius: 12px;
	}

	.left, .right {
	    display:none;
	}

	.closed .right{
	    display: block;
	    width: 0;
	    height: 100px;
	    border-left: 60px solid #fff;
	    border-right: 1px solid #ccc;
	    margin-left: 154px;
	    -webkit-transform: rotate(39deg);
	    margin-top: -34px;
	    box-shadow: 1px -1px 1px #ccc;
	}

	.closed .left{
	    display: block;
	    width: 0;
	    height: 100px;
	    border-right: 60px solid #fff;
	    border-left: 1px solid #ccc;
	    margin-left: 16px;
	    -webkit-transform: rotate(-39deg);
	    margin-top: -100px;
	    box-shadow: -1px -1px 1px #ccc;
	}

	.card{
	    padding:1.8em 1em;
	    text-align:center;
	    line-height: 1.9em;

	}
	.bride_msg{
	  font-family:'MapoFlowerIsland';
	  font-weight: 600;
	}

	.bride_parents{
	  font-family:'MapoFlowerIsland';
	  font-weight: 600;
	}

	.groom_msg{
	  font-family:'ROKABold';
	  font-weight: 600;
	}

	.groom_parents{
	  font-family:'ROKABold';
	  font-weight: 600;
	}

	.msg{
	  font-size:1.8em;
	  margin-top: .5em;

	}




	.google-form-container{
	  margin-bottom: 50px;
	  padding-top:800px;
	}
}


@media screen and (min-width: 1439px) {
	.web_page{
		display:block;
	}

	.mobile_page{
		display:none;
	}


	.closed {
	    z-index: 1;
	 width:260px;
	  overflow: hidden;  
	     margin: 0 auto;
	    height:80px;
	    margin-bottom: -5px;
	    
	}

	.closed .mid{
	    /*background: #fff;*/
	    width: 160px;
	    margin: 0 auto;
	    margin-top: -70px;
	    height: 80px;
	    background-color: #fff;
	    -moz-box-shadow: 0 1px 5px #ccc;
	    -webkit-box-shadow: 0 1px 5px #ccc;
	    box-shadow: 0 1px 5px #ccc;
	    -webkit-border-radius: 12px;
	}

	.left, .right {
	    display:none;
	}

	.closed .right{
	    display: block;
	    width: 0;
	    height: 100px;
	    border-left: 60px solid #fff;
	    border-right: 1px solid #ccc;
	    margin-left: 184px;
	    -webkit-transform: rotate(39deg);
	    margin-top: -34px;
	    box-shadow: 1px -1px 1px #ccc;
	}

	.closed .left{
	    display: block;
	    width: 0;
	    height: 100px;
	    border-right: 60px solid #fff;
	    border-left: 1px solid #ccc;
	    margin-left: 16px;
	    -webkit-transform: rotate(-39deg);
	    margin-top: -100px;
	    box-shadow: -1px -1px 1px #ccc;
	}

	.card{
	    padding:1.8em 1em;
	    text-align:center;
	    line-height: 1.9em;

	}
	.bride_msg{
	  font-family:'MapoFlowerIsland';
	  font-weight: 600;
	}

	.bride_parents{
	  font-family:'MapoFlowerIsland';
	  font-weight: 600;
	}

	.groom_msg{
	  font-family:'ROKABold';
	  font-weight: 600;
	}

	.groom_parents{
	  font-family:'ROKABold';
	  font-weight: 600;
	}

	.msg{
	  font-size:1.8em;
	  margin-top: .5em;

	}


	.google-form-container{
	  margin-bottom: 50px;
	  padding-top:800px;
	}
}


@media screen and (max-width: 767px) {
	#content {
    	height: 210px; /* for demo */
	}
	.heart{
		top: 6em;
	}

	.fh5co-nav #fh5co-logo{
		font-size:28px;
	}
	.fh5co-heading h2{
		margin-bottom:20px;
	}
	.fh5co-heading p{
		font-size:18px;
	}
	.fh5co-heading{
		margin-bottom:4em;
	}
	h3{
		font-size:20px;
	}

	.web_page{
		display:none;
	}

	.mobile_page{
		display:block;
	}



	.closed {
	    z-index: 1;
	 	width:160px;
	  	overflow: hidden;  
	     margin: 0 auto;
	    height:40px;
	    margin-bottom: -5px;
	    
	}

	.closed .mid{
	    /*background: #fff;*/
	    width: 60px;
	    margin: 0 auto;
	    margin-top: -65px;
	    height: 40px;
	    background-color: #fff;
	    -moz-box-shadow: 0 1px 5px #ccc;
	    -webkit-box-shadow: 0 1px 5px #ccc;
	    box-shadow: 0 1px 5px #ccc;
	    -webkit-border-radius: 12px;
	}

	.left, .right {
	    display:none;
	}

	.closed .left{
	    display: block;
	    width: 0;
	    height: 100px;
	    border-left: 60px solid #fff;
	    border-right: 1px solid #ccc;
	    margin-left: 84px;
	    -webkit-transform: rotate(39deg);
	    margin-top: -34px;
	    box-shadow: 1px -1px 1px #ccc;
	}

	.closed .right{
	    display: block;
	    width: 0;
	    height: 100px;
	    border-right: 30px solid #fff;
	    border-left: 1px solid #ccc;
	    margin-left: 16px;
	    -webkit-transform: rotate(-39deg);
	    margin-top: -100px;
	    box-shadow: -1px -1px 1px #ccc;
	}

	.card{
	    padding:1.3em 1em;
	    text-align:center;
	    line-height: 1.3em;
	    font-size:1em;
	}
	.bride_msg{
	  font-family:'MapoFlowerIsland';
	  font-weight: 600;
	  margin-top: 50px;
	}

	.bride_parents{
	  font-family:'MapoFlowerIsland';
	  font-weight: 600;
	}

	.groom_msg{
	  font-family:'ROKABold';
	  font-weight: 600;
	}

	.groom_parents{
	  font-family:'ROKABold';
	  font-weight: 600;
	}

	.msg{

	  margin-top: .5em;
	  margin-bottom:15px;

	}


}

@media screen and (min-width: 1023px) {

}