---
---
@import "bootstrap/functions";
@import 'bootstrap/variables';
@import "bootstrap/mixins";
@import 'bootstrap/bootstrap';
@import 'stars';


.question{
	border: 1px solid;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
